.sidebarButton {
    display: block;
    align-content: center;
    justify-content: center;
    background-color: transparent;
    color: aliceblue;
    width: 60px;
    height: 50px;
    font-size: 9px;
    overflow: clip;
}
.vertical-toggle-group {
    display: flex;
    flex-direction: column;
}

.mat-button-toggle {
    flex-grow: 1;
    width: auto;
    text-align: center;
    height: auto;
    display: block;
}
