<mat-button-toggle-group class="vertical-toggle-group">
    <mat-button-toggle value="collections" matTooltip="Collections">
        <div class="sidebarButton">
            <img class="icon" src="./assets/collections.svg" alt="collections">
        </div>
    </mat-button-toggle>
    <mat-button-toggle value="variables" matTooltip="Variables">
        <div class="sidebarButton">
            <img class="icon" src="./assets/variables.svg" alt="variables">
        </div>
    </mat-button-toggle>
</mat-button-toggle-group>
