.vertical-toggle-group {
    display: flex;
    flex-direction: column;
}

.sidebarButton {
    display: flex;
    flex-grow: 1;
    width: 10px;
    height: 51px;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 10px;
    padding: 2px 2px 2px 2px;
    column-gap: -6px;
}

.icon {
    -webkit-filter: invert(.75);
    filter: invert(.75);
}