<div class="navigation-bar">
    <div class="navigation-bar-left-container">
        <h1 class="logoText">AirReq</h1>
    </div>
    <div class="navigation-bar-right-container">
        <ul class="control-button-panel">
            <li class="control-button-element">
                <mat-icon>minimize</mat-icon>
            </li>
            <li class="control-button-element">
                <mat-icon>filter_none</mat-icon>
            </li>
            <li class="control-button-element">
                <mat-icon>close</mat-icon>
            </li>
        </ul>
    </div>
</div>
