.logoText {
  font-weight: bold;
  text-align: center;
  padding: 5px 5px 5px 5px;
  color: #e9e7e9;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #717b6f;
}

.navigation-bar-left-container,
.navigation-bar-right-container {
  display: flex;
  align-items: center;
  margin: 15px 0 0 15px;
  justify-content: space-between;
}

.control-button-element {
  list-style: none;
  display: block;
  padding-right: 10px;
  cursor: pointer;
  color: #e9e7e9;
}

.control-button-panel {
  display: flex;
}
