.logoText {
  font-weight: bold;
  text-align: center;
  padding: 5px 5px 5px 5px;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-bar-left-container,
.navigation-bar-right-container {
  display: flex;
  align-items: center;
  margin: 15px 0 0 15px;
  justify-content: space-between;
  width: 100px;
}

.navButton {
  color: #34495e;
  font-size: 14px;
  font-weight: 600;
}

.navElement {
  list-style: none;
  display: block;
  padding-right: 10px;
  cursor: pointer;
}

.navContainer {
  display: flex;
}
