
<div fxLayout="row" style="height: calc(100vh - 76px);">
    <div fxLayout="row" fxFlex="20%">
        <div class="layoutElement layoutLight" fxFlex="20%">
            <app-sidebar-menu/>
        </div>
        <div class="layoutElement layoutLight" fxFlex="80%">
            <app-sidebar-content/>
        </div>
    </div>

    <div fxLayout="column" fxFlex>
        <div class="layoutElement layoutDark" fxFlex="60%">
            <app-request-builder/>
        </div>
        <div class="layoutElement layoutDark" fxFlex="40%">
            <app-request-result/>
        </div>
    </div>
</div>
