.request-url {
    width: calc(100% - 212px);
}

.sendButton {
    position: fixed;
    transform: translate(-50px, 7px);
}

.request-tabs {
    margin-top: -22px;
}

.layoutGreen {
    background-color: #40463f;
    height: 80px;
}